
      *{
        font-family: 'Courier New', Courier, monospace;
      }
       body{
        background-color: #fff;
       } 
       .container{
        position: relative;   
        width: 250px;
        height: 350px;
        background: #77796d;
        margin: 20px;
        border-radius: 30px;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
        overflow: hidden;
       }
       .btn{
        width: 100px;
        height: 40px;
        border-radius: 10px;
        text-decoration: none ;
        padding: 0;
       }
   